<a href="https://colab.research.google.com/github/RahulAdepu1/IT496/blob/main/Rahul_Adepu___CPM_PERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import tensorflow_probability as tfp
tfd = tfp.distributions

tasksDF = pd.read_csv('/content/drive/MyDrive/IT 496/PERT-CPM.csv')
taskNames = tasksDF['tasks']
simulationsDF = pd.DataFrame(columns = taskNames)
#print(simulationsDF.columns)
for index, task in tasksDF.iterrows():
  dist = tfd.PERT(low = task['ai '], peak = task['mi'], high = task['bi'], temperature = 4)
  simulationsDF[task['tasks']] = dist.sample(100000)
simulationsDF.to_csv('/content/drive/MyDrive/IT 496/simulationData100000.csv', index = False)
simulationsDF.head()

tasks,A,B,C,D,E,F,G,H,I,J,EOP
0,5.474407,4.300596,2.703937,2.887506,7.174114,2.707931,4.805335,1.589247,20.461267,3.320234,NaN
1,3.978198,5.011308,3.452675,2.956262,6.853652,3.265935,4.300144,4.739975,20.209572,1.958665,NaN
2,5.244240,3.580368,2.434047,2.967091,5.261042,1.480281,6.715810,1.686635,10.069700,1.864708,NaN
3,5.988130,4.171161,3.797659,2.336248,5.775710,2.019346,6.307003,3.087983,10.029454,2.269931,NaN
4,5.317264,5.616282,2.875078,2.844455,6.888370,5.790226,4.760070,2.054338,16.215151,3.607064,NaN

In [21]:
simulationDF = pd.read_csv("/content/drive/MyDrive/IT 496/simulationData100000.csv")
simulationDF.head(5)

,A,B,C,D,E,F,G,H,I,J,EOP
0,5.474407,4.300596,2.703937,2.887506,7.174114,2.707931,4.805335,1.589247,20.461267,3.320234,NaN
1,3.978198,5.011308,3.452675,2.956262,6.853651,3.265935,4.300144,4.739975,20.209572,1.958665,NaN
2,5.244240,3.580368,2.434047,2.967091,5.261042,1.480281,6.715810,1.686635,10.069700,1.864708,NaN
3,5.988130,4.171161,3.797659,2.336248,5.775710,2.019346,6.307003,3.087983,10.029454,2.269931,NaN
4,5.317264,5.616282,2.875078,2.844455,6.888370,5.790226,4.760070,2.054338,16.215150,3.607064,NaN

In [22]:
path1 = simulationDF['A']+simulationDF['D']+simulationDF['E']+simulationDF['J']
path2 = simulationDF['B']+simulationDF['C']+simulationDF['D']+simulationDF['E']+simulationDF['J']
path3 = simulationDF['B']+simulationDF['C']+simulationDF['F']+simulationDF['G']+simulationDF['J']
path4 = simulationDF['B']+simulationDF['C']+simulationDF['F']+simulationDF['H']+simulationDF['J']
path5 = simulationDF['B']+simulationDF['I']

pathDF=pd.DataFrame()
pathDF['Path 1'] = path1
pathDF['Path 2'] = path2
pathDF['Path 3'] = path3
pathDF['Path 4'] = path4
pathDF['Path 5'] = path5

print(pathDF)

          Path 1     Path 2     Path 3     Path 4     Path 5
0      18.856261  20.386387  17.838033  14.621945  24.761863
1      15.746776  20.232561  17.988727  18.428558  25.220880
2      15.337081  16.107256  16.075214  11.046039  13.650068
3      16.370019  18.350709  18.565100  15.346080  14.200615
4      18.657153  21.831249  22.648720  19.942988  21.831432
...          ...        ...        ...        ...        ...
99995  20.776227  21.658251  19.627373  16.916378  18.075149
99996  19.585039  18.684993  17.785143  15.121065  17.876061
99997  16.229043  19.537613  19.670562  16.611297  12.447631
99998  14.988668  19.865420  19.330124  16.863142   9.449857
99999  13.293559  16.711233  16.849179  15.890542  14.254649

[100000 rows x 5 columns]

In [23]:
#pathDF['max value'] = pathDF[['Path ADEJ','Path BCDEJ','Path BCFGJ','Path BCFHJ','Path BI']].max(axis=1)
#pathDF['col name'] = pathDF[['Path ADEJ','Path BCDEJ','Path BCFGJ','Path BCFHJ','Path BI']].idxmax(axis=1)

pathDF['max value'] = pathDF[['Path 1','Path 2','Path 3','Path 4','Path 5']].max(axis=1)
pathDF['col name'] = pathDF[['Path 1','Path 2','Path 3','Path 4','Path 5']].idxmax(axis=1)

pathDF.head()

      Path 1     Path 2     Path 3     Path 4     Path 5  max value col name
0  18.856261  20.386387  17.838033  14.621945  24.761863  24.761863   Path 5
1  15.746776  20.232561  17.988727  18.428558  25.220880  25.220880   Path 5
2  15.337081  16.107256  16.075214  11.046039  13.650068  16.107256   Path 2
3  16.370019  18.350709  18.565100  15.346080  14.200615  18.565100   Path 3
4  18.657153  21.831249  22.648720  19.942988  21.831432  22.648720   Path 3

In [24]:
counts = pd.DataFrame()
percentageOfPath = [0]*5

counts['Col Name'] = pathDF['col name'].value_counts()

for i in range(len(counts)):
  percentageOfPath[i] = (counts['Col Name'][i]/100000)*100

In [25]:
#print(percentageOfPath)
counts['Percentage'] = percentageOfPath
print(counts)

        Col Name  Percentage
Path 2     34121      34.121
Path 3     25406      25.406
Path 5     21665      21.665
Path 4     14869      14.869
Path 1      3939       3.939